.aggrid {
  height : 600px;
  font-size : 1rem;
  color : #6E6B7B;
  /*** TABLE BODY HEIGHT - FOOTER HEIGHT ***/
  /*** HEADER TEXT  ***/
  /*** PAGINATION STYLING ***/
  /*** TABLE SCROLLBAR ***/
}

.aggrid .ag-icon-checkbox-checked, .aggrid .ag-icon-checkbox-indeterminate {
  color : #EC1C1C !important;
}

.aggrid .ag-root-wrapper-body {
  min-height : calc(100% - 56px);
}

.aggrid .ag-header-cell-text {
  font-size : 1rem;
  font-family : 'Montserrat', Helvetica, Arial, serif;
}

.aggrid .ag-paging-panel {
  display : block !important;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -ms-flex-align : center;
          align-items : center;
  height : 98px;
}

.aggrid .ag-paging-panel .ag-paging-row-summary-panel {
  display : none;
}

.aggrid .ag-paging-panel .ag-paging-page-summary-panel {
  -webkit-box-pack : center;
  -webkit-justify-content : center;
  -ms-flex-pack : center;
          justify-content : center;
  margin-right : 0;
  margin-top : 18px;
}

.aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref='lbCurrent'], .aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref='lbTotal'] {
  color : #FFFFFF;
  padding : 0.7rem 0.95rem;
  border-radius : 0.5rem;
}

@media (max-width: 575.98px) {
  .aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref='lbCurrent'], .aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref='lbTotal'] {
    margin : 0 0.4rem;
  }
}

.aggrid .ag-paging-panel .ag-paging-button {
  background-color : #DAE1E7;
  border-radius : 50%;
  padding : 0.5rem 0rem;
  margin : 0 0.5rem;
  color : #6E6B7B !important;
  min-width : 34px;
}

@media (max-width: 575.98px) {
  .aggrid .ag-paging-panel .ag-paging-button {
    margin-right : 0;
    margin-left : 0.4rem;
  }
}

.aggrid .ag-paging-panel .ag-paging-button .ag-icon {
  color : #6E6B7B !important;
  opacity : 1 !important;
}

.aggrid .ag-paging-panel .ag-paging-button.ag-disabled {
  opacity : 0.5 !important;
}

@media (max-width: 575.98px) {
  .aggrid .ag-paging-panel .ag-paging-button:last-child {
    margin-left : 0;
  }
}

.aggrid .ag-paging-panel span[ref='lbCurrent'] {
  background-color : #EC1C1C;
}

.aggrid .ag-paging-panel span[ref='lbTotal'] {
  background-color : #DAE1E7;
  color : #6E6B7B !important;
}

.aggrid ::-webkit-scrollbar {
  width : 10px;
  height : 10px;
}

.aggrid ::-webkit-scrollbar-thumb {
  background : #DAE1E7;
  border-radius : 20px;
}

.aggrid ::-webkit-scrollbar-track {
  background : #F8F8F8;
  border-radius : 20px;
}

/*** PAGE FILTER DROPDOWN ***/
.filter-btn {
  padding : 1.2rem !important;
  border-radius : 5rem;
  font-size : 0.95rem;
}

.filter-btn:after {
  background-image : url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%236e6b7b\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-down\'%3E%3Cpolyline points=\'6 9 12 15 18 9\'%3E%3C/polyline%3E%3C/svg%3E');
  right : 5px;
}

/*** SORTING DROPDOWN WIDTH ***/
.sort-dropdown .dropdown-menu {
  min-width : 4rem;
}